<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cholick.uuid</string>
	<key>connections</key>
	<dict>
		<key>C9ABFF77-D37C-4CFC-B690-4D664F31BAB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B81AE2ED-E6AB-4C98-B78E-CFD4D323E7BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Cholick</string>
	<key>description</key>
	<string>Generate a UUID</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UUID</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B81AE2ED-E6AB-4C98-B78E-CFD4D323E7BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python uuid_flow.py</string>
				<key>title</key>
				<string>uuid</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C9ABFF77-D37C-4CFC-B690-4D664F31BAB4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B81AE2ED-E6AB-4C98-B78E-CFD4D323E7BA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C9ABFF77-D37C-4CFC-B690-4D664F31BAB4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/cholick/alfred_uuid_workflow</string>
</dict>
</plist>
